<h1>Редактирование</h1>
<div>
  <form id="editForm" method="POST" action="/riskList/editForm/{{ourRisk._id}}">
    {{#if isAdmin}}
    <div>
      <label>Статус:
        <input name="approval" type="checkbox" value="approved">Утверждён
      </label>
    </div>
    {{/if}}
    <div>
      <label><strong></strong>Вид налога:</strong>
        <select size="1" name="tax">
          {{#each selectedTaxTypesArr}}
          <option {{choice}} value="{{description}}"> {{description}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <div>
      <label><strong>Наименование риска:</strong>
        <input name="riskName" type="text" value="{{ourRisk.riskName}}">
      </label>
    </div>
    <div>
      <label><strong>Описание:</strong>
        <input name="riskDescription" type="text" value="{{ourRisk.riskDescription}}">
      </label>
    </div>
    <div>
      <label><strong>Операция или группа операций (приводящих к риску):</strong>
        {{#each selectedOperationsArr}}
        <div><input {{choice}} name="riskOperation" type="checkbox" value="{{description}}"> {{description}}</div>
        {{/each}}
      </label>
    </div>
    <div>
      <label><strong>Cпособ выявления:</strong>
        {{#each selectedWayDetectionArr}}
        <div><input {{choice}} name="wayDetection" type="checkbox" value="{{description}}"> {{description}}</div>
        {{/each}}
      </label>
    </div>
    <div>
      <label><strong>Источник:</strong>
        {{#each selectedSourcesArr}}
        <div><input {{choice}} name="source" type="checkbox" value="{{description}}"> {{description}}</div>
        {{/each}}
      </label>
    </div>
    <div>
      <label><strong>Частота возникновения в прошлом:</strong>
        <select size="1" name="frequency">
          {{#each selectedFrequenciesArr}}
          <option {{choice}} value="{{level}}"> {{description}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <div>
      <label><strong>Вероятность:</strong>
        <select size="1" name="probability">
          {{#each selectedProbabilitiesArr}}
          <option {{choice}} value="{{level}}"> {{description}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <div>
      <label><strong>Последствия:</strong>
        <select size="1" name="effect">
          {{#each selectedEffectsArr}}
          <option {{choice}} value="{{level}}"> {{description}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <button type="submit">Редактировать</button>
  </form>
</div>

<script defer src="/test.js"></script>
