<div>
  <form method="GET" action="/riskList/new">
    <button type="submit">Добавить</button>
  </form>
</div>

<main id="risk-list-preview">
  {{!-- здесь будет отображаться таблица со всеми рисками --}}
  <table class="risks">
    <tr>
      <th>Наименование риска</th>
      <th>Статус</th>
      <th>Уровень риска</th>
      <th>Действия</th>
    </tr>
    <!-- сверить переменную списка всех рисков -->
    {{#each riskAll}}
    <tr class="one-risk">
      <td>{{this.riskName}}</td>
      <td>{{this.status}}</td>
      <td>{{this.level}}</td>
      <td class="risk-links">
        <div><a href="riskList/edit/{{this._id}}">Редактировать</a></div>
        <div><a href="riskList/delete/{{this._id}}">Удалить</a></div>
      </td>
    </tr>
    {{/each}}
  </table>
</main>
