<div>
  <form method="GET" action="/riskList/new">
    <button type="submit">Добавить</button>
  </form>
</div>

<main id="risk-list-preview">
  {{!-- здесь будет отображаться таблица со всеми рисками --}}
  <table class="risks">
    <tr>
      <th>Наименование риска</th>
      <th>Статус</th>
      <th>Уровень риска</th>
      <th>Действия</th>
    </tr>
    <!-- сверить переменную списка всех рисков -->
    {{!-- {{#each riskArr}} --}}
    <tr class="one-risk">
      <td>наш риск</td>
      <td>наш статус</td>
      <td>наш уровень риска</td>


      {{!-- <td>{{this.riskName}}</td> --}}
      {{!-- <td>{{this.status}}</td> --}}
      {{!-- <td>{{this.riskLevel}}</td> --}}
      <td class="risk-links">
        <div><a href="/riskList/edit">Редактировать</a></div>
        <div><a href="/riskList/delete">Удалить</a></div>
        <!-- <div><a href="riskList/edit/{{this.id}}">Редактировать</a></div> -->
        <!-- <div><a href="riskList/delete/{{this.id}}">Удалить</a></div> -->
      </td>
    </tr>
    {{!-- {{/each}} --}}
  </table>
</main>
