<h1>Создание нового риска</h1>
<div>
  <form id="newForm" method="POST" action="/riskList/newForm">
    {{#if isAdmin}}
    <div>
      <label><strong>Статус:</strong>
        <input name="approval" type="checkbox" value="Утвержден"> Утвержден
      </label>
    </div>
    {{/if}}
    <div>
      <label><strong></strong>Вид налога:</strong>
        <select size="1" name="tax">
          {{#each taxTypesArr}}
          <option value="{{description}}"> {{description}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <div>
      <label><strong>Наименование риска:</strong>
        <input name="riskName" type="text">
      </label>
    </div>
    <div>
      <label><strong>Описание:</strong>
        <input name="riskDescription" type="text">
      </label>
    </div>
    <div>
      <label><strong>Операция или группа операций (приводящих к риску):</strong>
        {{#each operationsArr}}
        <div><input name="riskOperation" type="checkbox" value="{{description}}"> {{description}}</div>
        {{/each}}
      </label>
    </div>
    <div>
      <label><strong>Cпособ выявления:</strong>
        {{#each wayDetectionArr}}
        <div><input name="wayDetection" type="checkbox" value="{{description}}"> {{description}}</div>
        {{/each}}
      </label>
    </div>
    <div>
      <label><strong>Источник:</strong>
        {{#each sourcesArr}}
        <div><input name="source" type="checkbox" value="{{description}}"> {{description}}</div>
        {{/each}}
      </label>
    </div>
    <div>
      <label><strong>Частота возникновения в прошлом:</strong>
        <select size="1" name="frequency">
          {{#each frequenciesArr}}
          <option value="{{level}}"> {{description}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <div>
      <label><strong>Вероятность:</strong>
        <select size="1" name="probability">
          {{#each probabilitiesArr}}
          <option value="{{level}}"> {{description}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <div>
      <label><strong>Последствия:</strong>
        <select size="1" name="effect">
          {{#each effectsArr}}
          <option value="{{level}}"> {{description}}</option>
          {{/each}}
        </select>
      </label>
    </div>
    <button type="submit">Добавить</button>
  </form>
</div>
