<div class="dropdownFilter">

  <form action="">
    <label><strong></strong>Вид налога:</strong>
      <select id="taxId" size="1" name="tax">
        {{#each taxTypeArray}}
        <option value="{{description}}"> {{description}}</option>
        {{/each}}
      </select>
    </label>
  </form>

  <form action="">
    <label><strong></strong>Уровень риска:</strong>
      <select id="levelId" size="1" name="level">
        {{#each levelModelArray}}
        <option value="{{description}}"> {{description}}</option>
        {{/each}}
      </select>
    </label>
  </form>

  <form action="">
    <label><strong></strong>Приемлемость:</strong>
      <select id="acceptId" size="1" name="accept">
        {{#each acceptabilityModelArray}}
        <option value="{{description}}"> {{description}}</option>
        {{/each}}
      </select>
    </label>
  </form>

  <form action="">
    <label><strong></strong>Статус:</strong>
      <select id="statusId" size="1" name="status">
        {{#each statusModelArray}}
        <option value="{{description}}"> {{description}}</option>
        {{/each}}
      </select>
    </label>
  </form>


  {{!-- <button onclick="myFunction()">Тип налога</button>
  <div id="taxTypeContent" class="dropdown-content">
    <input type="text" placeholder="Поиск..." id="taxTypeInput" onkeyup="filterFunction()">
    {{#each riskAll}}
    <a href="">{{this.taxType}}</a>
    {{/each}}
  </div> --}}

  {{!-- <button onclick="myFunction()">Уровень риска</button>
  <div id="levelContent" class="dropdown-content">
    <input type="text" placeholder="Поиск..." id="levelInput" onkeyup="filterFunction()">
    {{#each riskAll}}
    <a href="">{{this.level}}</a>
    {{/each}}
  </div>

  <button onclick="myFunction()">Приемлемость</button>
  <div id="aceptContent" class="dropdown-content">
    <input type="text" placeholder="Поиск..." id="aceptInput" onkeyup="filterFunction()">
    {{#each riskAll}}
    <a href="">{{this.acceptability}}</a>
    {{/each}}
  </div>

  <button onclick="myFunction()">Статус</button>
  <div id="statusContent" class="dropdown-content">
    <input type="text" placeholder="Поиск..." id="statusInput" onkeyup="filterFunction()">
    {{#each riskAll}}
    <a href="">{{this.status}}</a>
    {{/each}}
  </div>

  <button onclick="myFunction()">Дата создания</button>
  <div id="dataCreateContent" class="dropdown-content">
    <input type="text" placeholder="Поиск..." id="dataCreateInput" onkeyup="filterFunction()">
    {{#each riskAll}}
    <a href="">{{this.dataCreate}}</a>
    {{/each}}
  </div> --}}

</div>

<main id="reportView"></main>

<script defer src="/front.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"
  integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw=="
  crossorigin="anonymous"></script>